<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="http://v3.bootcss.com/favicon.ico">-->

    <title>Docker 管理平台</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../static/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Docker management system</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/logout">您好：{{ name["username"] }} | 退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input class="form-control" placeholder="Search..." type="text">
          </form>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">DOCKER <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/nodemanage">节点管理</a></li>
            <li><a href="/conlist">容器用途</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="/nodelist">管理容器</a></li>
          </ul>

        </div>
     {% block page-container %}
        DOCKER
     {% end %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
  </body>
</html>