{% extends 'base.html' %}

{% block page-container %}
         <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">容器用途管理</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>容器序号</th>
                  <th>容器ID</th>
                  <th>容器IP</th>
                  <th>节点IP</th>
                  <th>用户</th>
                  <th>应用</th>
                  <th>描述</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                {% for con_obj in con_objs %}
                <tr>
                  <td>{{ con_obj.id }}</td>
                  <td>{{ con_obj.con_id }}</td>
                  <td>{{ con_obj.con_ip }}</td>
                  <td>{{ con_obj.node_ip }}</td>
                  <td>{{ con_obj.user_name }}</td>
                  <td>{{ con_obj.con_app }}</td>
                  <td>{{ con_obj.con_desc }}</td>
                  <td><a href="/conmodify?action=modify&con_id={{ con_obj.con_id }}"><img src='/static/images/modify.png' alt='修改' title='修改' /></a></td>
                </tr>
                {% end %}
              </tbody>
            </table>
          </div>
        </div>
{% end %}